#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug
b-ogl-engine
b-ogl-engine.cbp

#IDE
.idea

#GLSL
**/*.spv

#Visuals
visual/models
visual/textures
io

#thirdparty
thirdparty/stb
thirdparty/imgui
imgui.ini

#macOS
.DS_Store
